@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
.header-page {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  height: 200px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: none;
}

.sidebar-card {
  display: none;
}

.header {
  width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: 39% 22% 39%;
}

.header-hidden {
  display: none;
}

.header .left-menu {
  display: flex;
  flex-direction: column;
}

.header .left-menu .left__top {
  height: 50%;
  width: 100%;
  border-bottom: 3px #ededed solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .left-menu .left__top .item {
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 10px;
  position: relative;
  border: 2px rgba(0, 0, 0, 0) solid;
  transition: all 0.5s ease-in-out;
  border: 2px solid #ededed;
}

.header .left-menu .left__top .item:hover {
  background: linear-gradient(45deg, #5c986a 0%, #7fae8a 50%, #bad3c0 100%);
}

.header .left-menu .left__top .item:active {
  border: 2px solid #ededed !important;
}

.header .left-menu .left__top .item a {
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.header .left-menu .left__top .item a div {
  margin-right: 8px;
}

.header .left-menu .left__top .item a div i {
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.header .left-menu .left__bottom {
  height: 50%;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .left-menu .left__bottom div:hover {
  color: black;
}

.header .left-menu .left__bottom i {
  margin-right: 5px;
  color: #777;
}

.header .left-menu .left__bottom div {
  cursor: pointer;
  font-weight: 600;
  color: #777;
}

.header .logo {
  position: relative;
  border-right: 3px #ededed solid;
  border-left: 3px #ededed solid;
}

.header .logo a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #525252;
  position: relative;
}

.header .logo a img {
  position: absolute;
  z-index: -1;
  top: 14px;
}

.header .logo a span {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin: 8px;
  font-weight: 500;
  font-size: 1.4rem;
}

.header .logo a span.title {
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
}

.header .logo a p {
  font-size: 1.8rem;
  font-family: 'Amatic SC', cursive;
}

.header .right-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header .right-menu .right__top {
  width: 100%;
  height: 50%;
  border-bottom: 3px #ededed solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .right-menu .right__top .item {
  background: rgba(255, 255, 255, 0);
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 20px;
  border: 2px rgba(0, 0, 0, 0) solid;
  transition: all 0.5s ease-in-out;
  border: 2px solid #ededed;
}

.header .right-menu .right__top .item a {
  position: relative;
  z-index: 2;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.header .right-menu .item:hover {
  background: linear-gradient(45deg, #5c986a 0%, #7fae8a 50%, #bad3c0 100%);
}

.header .item:hover a {
  color: white !important;
}

.header .left-menu .left__top .item:hover a i {
  transform: rotate(180deg);
}

.header .right-menu .right__top .item a div {
  margin-right: 8px;
}

.header .right-menu .right__top .item a div i {
  margin-right: 5px;
  transition: all 0.5s ease-in-out;
}

.header .right-menu .right__bottom {
  height: 50%;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .right-menu .right__bottom i {
  margin-right: 10px;
  color: #777;
}

.header .right-menu .right__bottom div {
  cursor: pointer;
  font-weight: 600;
  color: #777;
}

.header .right-menu .right__bottom div:hover {
  color: black;
}

/* 
.header3 {
  display: none;
} */

/* header 2  */
.header2 {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header2 .menu {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header2 .menu li {
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.header2 .menu .active {
  border: 3px solid #ededed;
}

.header2 .menu li a {
  color: #5c986a;
}

.header2 .menu li:hover {
  border: 3px solid #ededed;
  background: #5c986a;
}

.header2 .menu li:hover a {
  color: white;
  outline: none;
}

.header2 .menu li a {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  color: #777;
}

.header2 .menu li a i {
  margin-left: 6px;
}

.header2 .menu li:hover a i {
  transform: rotate(180deg);
}

.header3 {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header-page {
    width: 100%;
    height: 160px;
    padding-top: 0;
  }
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .header-page {
    position: relative;
    width: 100%;
    height: 50px;
    padding-top: 0;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    width: 100%;
    display: none;
  }

  .header2 {
    display: none;
  }

  .header3 {
    height: 50px;
    padding: 0 10px;
    background: #fff;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10000;
  }

  .header3 > .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .header3 .menu-btn__burger {
    width: 30px;
    height: 4px;
    background: #5c986a;
    border-radius: 4px;
    box-shadow: 0 2px 5px #ccc;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #5c986a;
    border-radius: 4px;
    box-shadow: 0 2px 5px #ccc;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-8px);
  }

  .header3 .menu-btn__burger::after {
    transform: translateY(8px);
  }

  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .header3 .logo {
    position: relative;
    display: flex;
    width: 100px;
    align-items: center;
    height: 100%;
    margin-left: 4px;
  }

  .header3 a {
    color: #555;
    display: flex;
    position: relative;
    font-size: 0.6rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
  }

  .header3 a .logo__title {
    margin-left: 8px;
    font-weight: 700;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .header3 a .logo__title span {
    margin: 2px 0;
  }

  .logo__title .name {
    font-family: 'Kalam', cursive;
    font-size: 0.8rem;
  }

  .header3 .logo img {
    top: 10px;
    width: 60%;
    height: 60%;
    z-index: -1;
  }

  .header3 .info-btn {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .header3 .info-btn i {
    font-size: 24px;
    color: #5c986a;
    transition: all 0.5s ease-in-out;
  }

  .header3 .info-btn i:hover {
    transform: scale(0.8);
  }

  .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: all 0.5s ease;
    transform: translateX(-250px);
    padding: 10px;
  }

  .sidebar-show {
    transform: translateX(0);
  }

  .sidebar li {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .sidebar li a {
    color: #5c986a;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;
  }

  .sidebar li a {
    display: flex;
    align-items: center;
  }

  .sidebar li:hover {
    background: #5c986a;
  }

  .sidebar li:hover a {
    color: white;
  }

  .sidebar li a div {
    margin-right: 8px;
  }

  .sidebar li::before {
    background: none;
  }

  .sidebar-card {
    position: fixed;
    top: 55px;
    right: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    justify-content: center;
    width: 250px;
    height: 125px;
    background: #fff !important;
    transition: all 0.5s ease-in-out;
    transform: translateX(260px);
  }

  .sidebar-card div {
    display: flex;
    color: #868686;
    font-size: 0.9rem;
    margin: 4px 0;
    cursor: pointer;
  }

  .card-open {
    transform: translateX(0);
  }

  .sidebar-card div:hover {
    color: black;
  }

  .sidebar-card div i {
    margin-right: 5px;
  }
}
