.modal-cart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-cart .modal-card {
  width: 800px;
  height: 64%;
  background: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.modal-cart .modal-card > button {
  position: absolute;
  top: 10px;
  width: 50px;
  height: 50px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 10000;
  transition: all 0.3s ease;
}

.modal-cart .modal-card > button:hover {
  color: #f3a5a7;
}

.modal-cart .modal-card .product-info {
  width: 50%;
  height: 100%;
  border-right: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.modal-cart .modal-card .product-info .alert {
  width: 100%;
  font-size: 19px;
  color: #ff4949;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  text-align: center;
}

.modal-cart .modal-card .product-info img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.modal-cart .modal-card .product-info .modal-product-title {
  text-transform: capitalize;
  font-family: Lato;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
}

.modal-cart .modal-card .product-info .modal-product-price {
  margin: 5px 0;
}

.modal-cart .modal-card .product-info .modal-product-price span {
  font-weight: 600;
  font-size: 13px;
  margin: 0 5px 5px 5px;
  text-transform: uppercase;
}

.modal-last {
  font-size: 14px;
  font-weight: 400;
  color: #ffa6a8;
}

.modal-cart .modal-card .product-info .modal-quantity {
  margin: 5px 0;
}

.modal-cart .modal-card .product-info .modal-quantity span {
  font-weight: 600;
  font-size: 13px;
  margin: 0 5px 5px 5px;
  text-transform: uppercase;
}
.modal-cart .modal-card .wrapper-btn {
  width: 50%;
  height: 100%;
  padding: 40px;
}

.modal-cart .modal-card .wrapper-btn > p {
  font-size: 13px;
  text-align: center;
  margin: 10px 0;
}
.modal-cart .modal-card .wrapper-btn > p > span {
  color: #f3a5a7;
}

.modal-cart .modal-card .wrapper-btn > .cart-total {
  width: 100%;
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  margin: 15px 0;
}
.modal-cart .modal-card .wrapper-btn > .cart-total > span {
  color: #f3a5a7;
  font-size: 22px;
  font-weight: 400;
}

.modal-cart .modal-card .wrapper-btn > button {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  border: #f3a5a7 2px solid;
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
  background: #fff;
  letter-spacing: 1.5px;
  justify-content: center;
  font-weight: 600;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.modal-cart .modal-card .wrapper-btn > button:hover {
  background: #f3a5a7;
  color: #fff;
}

.modal-cart .modal-card .wrapper-btn > a {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  border: #f3a5a7 2px solid;
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  justify-content: center;
  font-weight: 600;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  text-align: center;
  background: #f3a5a7;
}

.modal-cart .modal-card .wrapper-btn > a:hover {
  background: #5f8e3e;
  border: 2px solid #5f8e3e;
}

@media screen and (max-width: 800px) {
  .modal-cart .modal-card .wrapper-btn {
    padding: 10px;
    width: 100%;
    height: 50%;
  }

  .modal-cart .modal-card {
    width: 60%;
    height: 100%;
    flex-direction: column;
  }

  .modal-cart .modal-card button {
    top: -5px;
  }

  .modal-cart .modal-card .product-info {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
  }
  .modal-cart .modal-card .product-info img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 450px) {
  .modal-cart .modal-card button {
    font-size: 20px;
    top: -5px;
  }

  .modal-cart .modal-card .product-info .alert {
    font-size: 15px;
  }
  .modal-cart .modal-card .product-info img {
    width: 150px;
    height: 150px;
  }
  .modal-cart .modal-card .product-info .modal-product-title {
    font-size: 11px;
    margin: 2px;
  }

  .modal-cart .modal-card .product-info .modal-product-price,
  .modal-cart .modal-card .product-info .modal-quantity {
    margin: 2px;
  }
  .modal-cart .modal-card .product-info .modal-product-price span {
    font-size: 10px;
  }
  .modal-cart .modal-card .product-info .modal-quantity span {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .modal-cart .modal-card button {
    font-size: 20px;
    top: -5px;
  }

  .modal-cart .modal-card .product-info .alert {
    font-size: 12px;
  }
  .modal-cart .modal-card .product-info img {
    width: 100px;
    height: 100px;
  }
  .modal-cart .modal-card .product-info .modal-product-title {
    font-size: 10px;
    margin: 2px;
    text-align: center;
  }

  .modal-cart .modal-card .product-info .modal-product-price,
  .modal-cart .modal-card .product-info .modal-quantity {
    margin: 2px;
  }
  .modal-cart .modal-card .product-info .modal-product-price span {
    font-size: 8px;
  }
  .modal-cart .modal-card .product-info .modal-quantity span {
    font-size: 8px;
  }
}
