* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 0 35px #eee;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* header */
@import url('./components/headers/header.css');

/* Toast */

.Toastify__toast {
}
.Toastify__toast--rtl {
}
.Toastify__toast--dark {
}
.Toastify__toast--default {
}
.Toastify__toast--info {
}
.Toastify__toast--success {
  border: 2px solid teal;
  background: #c7dded !important;
  padding: 20px !important;
  color: #333 !important;
  text-transform: capitalize !important;
  box-shadow: 0 5px 10px #ccc !important;
}

.Toastify__toast--success:hover {
  box-shadow: 0 10px 20px #ccc !important;
}

.Toastify__toast--warning {
}
.Toastify__toast--error {
}
.Toastify__toast-body {
}
