.products-page {
  width: 100%;
  min-height: 300vh;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  flex-direction: column;
}

.production {
  width: 100%;
  height: 300vh;
  background: #fff;
  z-index: 1;
}

#imageCard {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  position: relative;
}

#imageCard img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

#image1:hover {
  opacity: 0;
}
