@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.profile-page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px 0;
}

.profile-page .section1 {
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./image/lavender.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-page .section1 .content {
  width: 66%;
  height: 190px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  z-index: 11;
}

.profile-page .section1 .content img {
  margin-top: 20px;
  width: 40px;
  height: 40px;
}

.profile-page .section1 .content .content__title {
  width: 75%;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px 0;
  color: #525252;
  letter-spacing: 0.025rem;
}

.profile-page .breadcrumbs-custom {
  display: flex;
  list-style: none;
}

.breadcrumbs-custom > li:not(:last-child)::after {
  padding: 0 3px 0 8px;
  content: '/';
  color: #aaaaaa;
}

.breadcrumbs-custom > li {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.71429;
  font-size: 14px;
  color: #aaaaaa;
}

.profile-page .breadcrumbs-custom a {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.71429;
  font-size: 14px;
  color: #aaaaaa;
}

.profile-page .breadcrumbs-custom a:hover {
  color: #f3a5a7;
}

.profile-page .user-info {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.profile-page .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: relative;
}

.profile-page .avatar button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  font-size: 25px;
  top: 130px;
  right: 110px;
  font-weight: 600;
  color: rgb(190, 56, 190);
}

.profile-page .avatar button:hover {
  background: #ccc;
  color: rgb(226, 90, 226);
}

.profile-page .avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-page .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
  padding-left: 0px;
  margin-top: 20px;
}

.profile-page .content .name,
.profile-page .content .email {
  font-family: 'Roboto Condensed' sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-bottom: 40px;
}

.profile-page .content .name > span,
.profile-page .content .email > span {
  font-weight: 600;
  letter-spacing: 3px;
  margin-left: 10px;
  color: #71a57e;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.profile-page .content .action {
  height: 40px;
  display: flex;
  align-items: center;
}

.profile-page .content .action > span {
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #ccc;
  margin-left: 10px;
  color: black;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.profile-page .content .action > span:hover {
  background: black;
  color: white;
}

.profile-page .content .name span:hover,
.profile-page .content .email span:hover {
  color: #f5a5a7;
}

@media screen and (max-width: 430px) {
  .profile-page .section1 .content {
    width: 80%;
  }

  .profile-page .section1 .content .content__title {
    font-size: 28px;
  }
}

.profile-page .orders {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 0 0;
  padding: 20px;
}

.profile-page .orders > h4 {
  width: 160px;
  text-align: center;
  font-size: 24px;
  border-bottom: 2px solid #f3a5a7;
}

.table.shop_table,
table.shop_table {
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 21px;
  border: 0;
  background-color: transparent;
}

.table.shop_table thead,
table.shop_table thead {
  border: 1px solid #e8e8e8;
}

table.shop_table > thead > tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table.shop_table > tbody > tr > th,
.table.shop_table > tfoot > tr > th,
.table.shop_table > thead > tr > th,
table.shop_table > tbody > tr > th,
table.shop_table > tfoot > tr > th,
table.shop_table > thead > tr > th {
  padding: 16px 30px;
  line-height: 2;
  vertical-align: top;
  border: 1px solid #e6e6e6;
  color: #000;
}

.table.shop_table thead th,
table.shop_table thead th {
  font-size: 15px;
  text-transform: uppercase;
  border: 0 !important;
  font-weight: 500;
}
/* 
.table.shop_table > tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
} */
/* 
.table.shop_table > tbody > tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
} */

.table.shop_table > tbody > tr > td,
.table.shop_table > tfoot > tr > td,
.table.shop_table > thead > tr > td,
table.shop_table > tbody > tr > td,
table.shop_table > tfoot > tr > td,
table.shop_table > thead > tr > td {
  padding: 16px 30px;
  line-height: 2;
  vertical-align: top;
  border-bottom: 1px solid #e6e6e6;
}

.table.shop_table > tbody > tr > td > a,
.table.shop_table > tfoot > tr > td > a,
.table.shop_table > thead > tr > td > a,
table.shop_table > tbody > tr > td > a,
table.shop_table > tfoot > tr > td > a,
table.shop_table > thead > tr > td > a {
  color: black;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}

.table.shop_table > tbody > tr > td > a:hover,
.table.shop_table > tfoot > tr > td > a:hover,
.table.shop_table > thead > tr > td > a:hover,
table.shop_table > tbody > tr > td > a:hover,
table.shop_table > tfoot > tr > td > a:hover,
table.shop_table > thead > tr > td > a:hover {
  color: #f3a5a7;
}

.orders > h5 {
  width: 100%;
  height: 100px;
  display: flex;
  color: #5c986a;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .table.shop_table > tbody > tr > .hidden-z,
  .table.shop_table > tfoot > tr > .hidden-z,
  .table.shop_table > thead > tr > .hidden-z,
  table.shop_table > tbody > tr > .hidden-z,
  table.shop_table > tfoot > tr > .hidden-z,
  table.shop_table > thead > tr > .hidden-z {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  tr > .hidden-on {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .profile-page tbody > tr > td,
  .profile-page thead > tr > td {
    font-size: 10px !important;
  }

  .profile-page
    table.woocommerce-orders-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table {
    width: 80% !important;
  }
  .profile-page .woocommerce-orders-table__cell-order-status {
    max-width: 80px !important;
  }

  .profile .woocommerce-orders-table__cell-order-actions {
    max-width: 80px !important;
  }

  th > span {
    font-size: 11px;
  }

  .profile-page .table.shop_table > tbody > tr > th,
  .profile-page .table.shop_table > tfoot > tr > th,
  .profile-page .table.shop_table > thead > tr > th,
  .profile-page table.shop_table > tbody > tr > th,
  .profile-page table.shop_table > tfoot > tr > th,
  .profile-page table.shop_table > thead > tr > th {
    padding: 0 !important;
    padding-left: 5px !important;

    line-height: 2;
    vertical-align: top;
    border: 1px solid #e6e6e6;
    color: #000;
  }

  .profile-page .table.shop_table > tbody > tr > td,
  .profile-page .table.shop_table > tfoot > tr > td,
  .profile-page .table.shop_table > thead > tr > td,
  .profile-page table.shop_table > tbody > tr > td,
  .profile-page table.shop_table > tfoot > tr > td,
  .profile-page table.shop_table > thead > tr > td {
    padding: 0.5rem;
    line-height: 2;
    vertical-align: top;
    border-bottom: 1px solid #e6e6e6;
  }
}

.profile-page .update-user {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-page .update-user .update-card {
  width: 55%;
  height: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-page .update-user .update-card form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.profile-page .update-user .update-card form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

.profile-page .update-user .update-card form.sign-in-form {
  z-index: 2;
}

.profile-page .update-user .update-card .title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.profile-page .update-user .update-card .input-field {
  max-width: 450px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.profile-page .update-user .update-card .input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.profile-page .update-user .update-card .avatar-field {
  max-width: 420px;
  width: 100%;
  margin: 10px 0;
  height: 55px;
  display: grid;
  padding: 0 0.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-page .update-user .update-card .avatar-field button {
  height: 55px;
  width: 100px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background: transparent;
  flex-direction: column;
  color: #777;
}
.profile-page .update-user .update-card .avatar-field button:hover {
  color: black;
}

.profile-page .update-user .update-card .input-field input {
  margin-right: 30px;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.profile-page .update-user .update-card .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.profile-page input.btn.solid {
  width: 150px;
  background: linear-gradient(45deg, #04befe 0%, #4481eb 50%, purple 100%);
  opacity: 0.7;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.profile-page .update-user button {
  position: absolute;
  top: 30%;
  right: 25%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.profile-page .update-user button:hover {
  color: #5c986a;
}

@media screen and (max-width: 768px) {
  .profile-page .update-user .update-card {
    width: 90%;
    height: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-page .update-user .update-card form {
    padding: 0rem 1rem;
  }

  .profile-page .update-user button {
    position: absolute;
    top: 30%;
    right: 5%;
  }
}
