.product-admin {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .product-admin .hidden-c {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .product-admin .hidden-ct {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .product-admin > .hidden-ctt {
    display: none;
  }
}
.add-button > button {
  border: none !important;
}
