/* .product-detail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#product-content {
  width: 100%;
  height: 100vh;
  background: tomato;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  #product-content {
    flex-direction: column;
    height: 200vh;
  }
}

#thumbnails {
  flex: 1;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#thumbnails .selected-image {
  flex: 4;
  width: 100%;
  background: #c7dded;
  padding: 20px;
}

#thumbnails .thumb-image {
  flex: 1;
  width: 100%;
  background: #204966;
}

#content {
  flex: 1;
}

#overview {
  width: 100%;
  height: 40vh;
  background: teal;
  opacity: 0.4;
} */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero {
  width: 100%;
}
.row {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col {
  flex-basis: 45%;
}

.col img {
  width: 100%;
}

.slider {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}

.product img {
  height: 10vh;
  margin-bottom: 9px;
  width: 24%;
  cursor: pointer;
  opacity: 0.6;
  margin: 0 5px;
}

.product img:hover {
  opacity: 1;
}

.preview {
  margin-bottom: 20px;
}

.preview img {
  height: 100%;
}
p {
  margin-bottom: 20px;
}
.brand {
  background: #008000;
  width: fit-content;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
}
h2 {
  font-size: 45px;
  color: #555;
  margin-bottom: 20px;
}
.rating {
  display: flex;
  height: 15px;
}
.rating .fa {
  color: #008000;
}
.price {
  color: #fe980f;
  font-size: 26px;
  font-weight: bold;
  padding-top: 10px;
}
input {
  width: 30px;
  border: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
}
button {
  color: #fff;
  font-size: 15px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background: #fe980f;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
}
button .fa {
  margin-right: 10px;
}
.related {
  width: 90%;
  margin: 0 auto 40px;
}
.related .row {
  width: 100%;
  height: auto;
}
.columns {
  flex-basis: 22%;
  height: 100%;
}
.items img {
  width: 100%;
}
.details {
  margin-top: 20px;
}
.details p {
  font-size: 14px;
  margin-bottom: 10px;
}
.details .rating {
  margin: 10px 0;
}
