@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.detail-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.product-content {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images {
  width: 45%;
  max-height: 70vh;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.image {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
}

.image img {
  width: calc(100%-100px);
  height: 400px;
}
.preview {
  width: 120px;
  min-width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.product-info {
  width: 45%;
  height: 400px;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
  padding-right: 40px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: 400;
  color: #ffa6a8;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}

.product-price .first {
  color: #ccc;
  margin-left: 30px;
}

.product-rating {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.star-rating {
  margin: 0 3px 0 0;
  height: 25px;
  width: 120px;
  display: flex;
  align-items: center;
}

.star-rating input {
  display: none;
}

.product-rating .review {
  margin: 0 3px 0 0;
  height: 30px;
  width: 120px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: #999;
  font-size: 12px !important;
}

.product-summary {
  width: 100%;
  height: 130px;
  font-family: Lato;
  font-size: 14px;
  color: #a8a8a8;
  line-height: 28px;
  font-weight: 400;
  padding: 22px 0 0 0;
  overflow: hidden;
  overflow-y: auto;
}

.product-cart {
  width: 100%;
  height: 80px;
  padding: 22px 0 0 0;
  display: flex;
  align-items: center;
}

.product-cart .quantity {
  width: 160px;
  height: 100%;
  display: flex;
}

.product-cart .quantity input {
  width: 70px;
  height: 100%;
  outline: none;
  border: 2px solid black;
  text-align: center;
  font-size: 20px;
  border-right: 1px solid black;
}

.product-cart .quantity > div {
  width: 70px;
  height: 100%;
  outline: none;
  border: 2px solid black;
  border-left: none;
  display: flex;
  flex-direction: column;
}

.product-cart .quantity > div > button {
  width: 100%;
  height: 50%;
  font-size: 16px;
  font-weight: 600;
}

.product-cart .quantity > div > button:hover {
  color: #f3a5a7;
}

.product-cart .quantity > div > .increase {
  border-bottom: 1px solid black;
}

.product-cart .quantity input::-webkit-outer-spin-button,
.product-cart .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.product-cart .cart-btn {
  width: 240px;
  height: 100%;
  background: lavender;
}

.product-cart .cart-btn button {
  font-family: Lato;
  width: 100%;
  transition: all 0.3s ease;
  padding: 0 39px;
  height: 55px;
  font-size: 14px;
  background: #ffa6a8;
  letter-spacing: 0.2em;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
  text-align: center;
}

.product-cart .cart-btn button:hover {
  background: black;
}

.categories {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

.categories a {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #bfbfbf;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 5px;
}

@media screen and (max-width: 700px) {
  .image img {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .image img {
    height: 250px;
  }
}

@media screen and (max-width: 450px) {
  .image img {
    height: 220px;
  }
  .preview {
    min-width: 80px;
  }
}

@media screen and (max-width: 933px) {
  .images,
  .product-info {
    width: 90%;
  }
  .image img {
    width: 484px;
  }
}

.more-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.more-info > .button-wrapper {
  width: 100%;
  height: 80px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.more-info > .button-wrapper > button {
  height: 100%;
  width: auto;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.more-info > .button-wrapper > button::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 5%;
  top: 42px;
  left: 10px;
  box-shadow: 0 0 3px 3px #f3a5a7;
  background: #f3a5a7;
  opacity: 0.3;
  z-index: 1111;
  transition: all 0.3s ease;
  transform: scaleX(0);
}

.more-info > .button-wrapper > .active::after {
  transform: scaleX(1) !important;
}

.more-info > .button-wrapper > button:hover::after {
  transform: scale(1);
}

.more-info > .content__info {
  width: 100%;
  height: auto;
}

.title_content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.title_content > p {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #979797;
  margin: 0 0 15px 0;
}
.title_content > h3 {
  font-family: Lato;
  font-size: 25px;
  font-weight: 500;
  color: #000;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 20px;
  display: inline-block;
  line-height: 1.2;
}
.title_content > h3::after {
  content: '';
  height: 2px;
  width: 40px;
  background: #ffa6a8;
  position: absolute;
  bottom: 0;
  left: 0;
}

.body__content {
  padding: 0 20px;
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: row !important;
}

.body__content > .content__left {
  width: 60%;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  color: #555;
  padding: 10px 0;
  min-width: 330px;
}

.body__content > .content__left > ul > li {
  margin: 10px;
}

.body__content > .delivery {
  width: 35%;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  color: #555;
  padding: 10px 0;
}

.body__content > .delivery > .info2 > h3 {
  font-size: 18px;
  font-family: Lato;
  font-weight: 500;
  color: #000;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.body__content > .delivery > .info2 > ul li {
  margin: 5px 10px;
}

@media screen and (max-width: 612px) {
  .body__content {
    justify-content: center;
  }

  .body__content > .content__left {
    width: 80%;
  }

  .body__content > .delivery {
    width: 80%;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    color: #555;
    padding: 10px 0;
  }
}

@media screen and (max-width: 450px) {
  .body__content {
    padding: 0 10px;
  }
  .body__content > .content__left {
    width: 100%;
  }

  .body__content > .delivery {
    width: 100%;
    padding: 10px 0;
  }
}

.product-other {
  width: 100%;
  height: auto;
}

.product-other > .products {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-other > h2 {
  padding: 0 10px;
  width: 216px;
  margin: 20px;
  position: relative;
  z-index: 1;
  border-bottom: 2px solid #f3a5a7;
}

.product-other > .products > .card {
  margin: 10px;
}
