th,
td {
  text-align: left;
  padding: 0.75rem;
  vertical-align: top;
  border: none;
  border-top: 1px solid #dee2e6 !important;
  padding: 0.75rem;
}

tr > .table-product-thumbnail > button {
  display: none;
}

.order-item {
  position: relative;
}

th > div {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

th > div > a {
  color: black;
  transition: all 0.5s ease-in-out;
}

th > div > a:hover {
  color: #5c986a;
}

th > .btn-actions {
  justify-content: center;
  align-items: center;
}

th > .btn-actions > button {
  width: 28px;
  height: 28px;
  background: #e9ecef;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

th > .btn-actions > button:hover {
  background: #f3a5a7;
  color: white;
}

.form-quantity input::-webkit-outer-spin-button,
.form-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-quantity input {
  width: 50px;
  height: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  border: 1px #ccc solid;
  border-right: none;
  border-left: none;
}

th > div > .decrease,
th > div > .increase {
  height: 40px;
  width: 25px;
  border: 1px #ccc solid;
  font-size: 15px;
  font-size: 600;
  transition: all 0.5s ease-in-out;
}

th > div > .decrease:hover,
th > div > .increase:hover {
  color: #f3a5a7;
}

th > div > .decrease {
  border-right: none;
}

th > div > .increase {
  border-left: none;
}

thead > tr > th {
  font-size: 0.6875rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
}

tbody > .order-item > th {
  font-size: 0.6875rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
}

@media screen and (max-width: 540px) {
  tr > .hidden-x {
    display: none;
  }

  tr > .table-product-thumbnail > button {
    display: block;
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    width: 20px;
    height: 20px;
    left: 62px;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  tr > .table-product-thumbnail > button:hover {
    background: #f3a5a7;
    color: white;
  }
}

.table-product-info > div > button {
}

.table-product-info > div > ul {
  position: absolute;
  top: 60px;
}

.table-product-info > div > ul > button {
  display: flex;
  height: 33%;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

input {
  outline: none !important;
}
